# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Logs
*.log

# OS files
.DS_Store

# IDE files
.idea/
*.iml
.project
.classpath
.settings/

# Env files
application-dev.properties
.env